numba # BSD 2-Clause "Simplified" License
numpy  # BSD 3-Clause
matplotlib==v3.4.3  # Python Software Foundation License (PSFL) -> BSD-style
# matplotlib==3.5.0  # Python Software Foundation License (PSFL) -> BSD-style
codecov==2.1.12  # APACHE 2.0 license
scipy  # BSD 3-Clause license
pytest  # MIT license
pandas  # BSD 3-Clause license
openpyxl  # MIT license
Cython  # APACHE 2.0 license
cvxpy # APACHE 2.0 license
airfoils  # APACHE 2.0 license
xlsxwriter # BSD 3-Clause license


jinja2 # BSD 3-Clause license

PyQt5  #  GPL v3 # python to avoid blurry figures on Windows
# pyqt # anaconda?

datashader # BSD 3-Clause 
holoviews # BSD 3-Clause 
spatialpandas # BSD 3-Clause 
colorcet # Creative Commons Attribution 4.0 International Public License